<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <!-- Site meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title> </title>
    <!-- CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/homeSender.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/homeSenderOrder.css">
    <!--===============================================================================================-->

</head>

<%- include ("layout.ejs") %>

<body>
    <div class="container">

        <table class="main" width="100%" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td class="content-wrap aligncenter">
                        <table width="100%" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td class="content-block">
                                        <h2><%= shopName %></h2>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="content-block">
                                        <table class="invoice">
                                            <tbody>
                                                <tr>
                                                    <td>ชื่อผู้สั่ง: <%= customerName %> <br>เบอร์โทรศัพท์: <%= phoneno %> <br>สถานที่จัดสั่ง: <%= location %><br>ข้อความจากผู้สั่ง: <%= notetosender %></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <table class="invoice-items" cellpadding="0" cellspacing="0">
                                                            <tbody>
                                                                <thead class="font-weight-bold">
                                                                    <td>Menu</td>
                                                                    <td class="alignright">qty</td>
                                                                    <td class="alignright">Price</td>
                                                                </thead>
                                                                <% orderList.forEach((orderDetail) => { %>
                                                                <tr>
                                                                    <td><%= orderDetail.menuName %></td>
                                                                    <td class="alignright"><%= orderDetail.qty %></td>
                                                                    <td class="alignright"><%= orderDetail.price %></td>
                                                                </tr>
                                                                <% }); %>
                                                                <tr class="font-weight-bold">
                                                                    <td></td>
                                                                    <td class="alignright">Delivery fee</td>
                                                                    <td class="alignright">฿ 10</td>
                                                                </tr>
                                                                <tr class="total">
                                                                    <td></td>
                                                                    <td class="alignright">Total</td>
                                                                    <td class="alignright"><%= totalprice %></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="content-block">
                                        <button type="button" class="btn btn-success" onclick="testSweet()">Confirm Order</button>

                                    </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>




    <!-- Sweetalret2 script -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="/javascripts/homeSenderOrder.js"></script>
</body>

</html>